<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klima7.services.client">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.klima7.services.client.ClientApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Client"
        android:usesCleartextTraffic="true">

        <receiver android:name=".messaging.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".messaging.RefreshTokenAlarm" />

        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Client.Background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.login.LoginActivity" android:theme="@style/Theme.Client.Background" />
        <activity android:name=".features.setup.SetupActivity" />
        <activity android:name=".features.info.InfoActivity" />
        <activity android:name=".features.home.HomeActivity" />
        <activity android:name=".features.delete.DeleteActivity" />
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.offers.OffersActivity" />
        <activity android:name=".features.job.JobActivity" />
        <activity android:name=".features.profile.ProfileActivity" />
        <activity android:name=".features.offer.OfferActivity" />
        <activity android:name=".features.credits.CreditsActivity" />
        <activity android:name=".features.addrating.AddRatingActivity" />
        <activity android:name=".features.jobsetup.service.ServiceActivity" />
        <activity android:name=".features.jobsetup.location.LocationActivity" />
        <activity android:name=".features.jobsetup.details.JobDetailsActivity" />
        <activity android:name=".features.jobsetup.JobSetupActivity" />

        <service
            android:name="com.klima7.services.client.messaging.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>