<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klima7.services.expert">

    <application
        android:name="com.klima7.services.expert.ExpertApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Services"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.home.HomeActivity" />
        <activity android:name=".features.login.LoginActivity" />
        <activity android:name=".features.setup.SetupActivity" />
        <activity android:name=".features.info.InfoActivity" />
        <activity android:name=".features.services.ServicesActivity" />
        <activity android:name=".features.location.LocationActivity" />

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>