<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klima7.services.expert">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.klima7.services.expert.ExpertApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expert"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Expert.Background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.login.LoginActivity" android:theme="@style/Theme.Expert.Background" />
        <activity android:name=".features.home.HomeActivity" />
        <activity android:name=".features.setup.SetupActivity" />
        <activity android:name=".features.info.InfoActivity" />
        <activity android:name=".features.services.ServicesActivity" />
        <activity android:name=".features.area.WorkingAreaActivity" />
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.delete.DeleteActivity" />
        <activity android:name=".features.job.JobActivity" />
        <activity android:name=".features.offer.OfferActivity" />
        <activity android:name=".features.credits.CreditsActivity" />

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>