<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klima7.services.common">

    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".components.ratings.RatingsActivity" />
        <activity android:name=".components.comment.CommentActivity" />
    </application>

</manifest>